<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ReportingSystem</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    @* <link rel="stylesheet" href="~/ReportingSystem.styles.css" asp-append-version="true" /> *@
</head>



@{
    var path = Context.Request.Path;
    DateTime currentDate = DateTime.Now;
    DayOfWeek dayOfWeek = currentDate.DayOfWeek;

    string day = currentDate.ToString("dddd");
    string month = currentDate.ToString("MMMM");
    string dayNumber = currentDate.ToString("dd");
    string year = currentDate.ToString("yyyy");
    string dateFormat = "yyyy-MM-dd";

    char[] charArray = day.ToCharArray();
    charArray[0] = char.ToUpper(charArray[0]);

    string upperDay = new string(charArray);
    dateFormat = "dd.MM.yyyy";
    string formattedDate = $"{upperDay} {currentDate.ToString(dateFormat)}";
}

@model string[];

<body>
    <div>
        <p hidden id="idCu">@Model[0]</p>
        <p hidden id="idCo">@Model[1]</p>
        <p hidden id="idEm">@Model[2]</p>
        <p hidden id="rol">@Model[3]</p>
    </div>

    <header>
        <nav class="navbar navbar-expand-lg navbar-dark border-bottom box-shadow mb-3">
            <div class="container-fluid">

                <a class="navbar-brand main-name" href="/EUDeveloper/Index" data-target="#content-container">Звітна система</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav flex-grow-1 justify-content-end">
                        <li class="nav-item">
                            <a class="nav-link" href="/EUDeveloper/Index" data-target="#content-container">Сповіщення</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/EUDeveloper/Customers" data-target="#content-container">Замовники</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/EUDeveloper/Companies" data-target="#content-container">Компанії</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Проекти
                            </a>
                            <ul class="dropdown-menu dropdown-menu-lg-end " aria-labelledby="navbarDropdown1">
                                <li class="nav-item">
                                    <a class="nav-link" href="/EUDeveloper/Projects" data-target="#content-container">Проекти</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/EUDeveloper/Steps" data-target="#content-container">Етапи</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/EUDeveloper/Categories" data-target="#content-container">Категорії</a>
                                </li>
                            </ul>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Співробітники
                            </a>
                            <ul class="dropdown-menu dropdown-menu-lg-end " aria-labelledby="navbarDropdown2">
                                <li class="nav-item">
                                    <a class="nav-link" href="/EUDeveloper/Employees" data-target="#content-container">Співробітники</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/EUDeveloper/Administrators" data-target="#content-container">Адміністратори</a>
                                <li class="nav-item">
                                    <a class="nav-link" href="/EUDeveloper/Positions" data-target="#content-container">Посади</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/EUDeveloper/Rolls" data-target="#content-container">Ролі</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/EUDeveloper/Structure" data-target="#content-container">Структура</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/EUDeveloper/Report" data-target="#content-container">Звіт</a>
                        </li>
                        <li class="nav-item dropdown" id="header_dropdown">
                            <ul class="first-list" v-if="windowWidth > 992">
                                <li class="circle border">
                                    <a class="nav-link" href="#" id="navbarDropdown3" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        {{ firstInitial }}{{ secondInitial }}
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-lg-end" aria-labelledby="navbarDropdown3">

                                        <li class="nav-item">
                                            <a class="nav-link" href="/EUDeveloper/Info" data-target="#content-container">Власні дані</a>
                                        </li>
                                        <li class="nav-item" v-if="windowWidth > 992">
                                            <a class="nav-link" href="/Home/StartPage" data-target="#content-container">Вихід</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                            <ul class="second-list" v-else>
                                <li class="nav-item">
                                    <a class="nav-link" href="/EUDeveloper/Info" data-target="#content-container">Власні дані</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/Home/Authorize" data-target="#content-container">Вихід</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div id="content-container">
        @RenderBody()
    </div>

    <footer class="border-top footercustom" id="Footer">
        @formattedDate &copy Звітна система <a href="/Home/Index" class="link-custom-color linkfooter" data-target="#content-container">DIGITAP</a>
    </footer>

    
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

<script src="https://cdn.jsdelivr.net/npm/vue@2.7.8/dist/vue.js"></script>
<script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/Header.js" asp-append-version="true"></script>

<script>
    $(document).ready(function () {
        function loadContent(url, target) {
            $.ajax({
                url: url,
                type: 'GET',
                success: function (data) {

                    $(target).empty();
                    $(target).html(data);
                },
                error: function () {
                    alert('Error loading content');
                }
            });
        }

        $('.nav-link').on('click', function (e) {
            e.preventDefault();
            var url = $(this).attr('href');
            var target = $(this).data('target');
            loadContent(url, target);
        });


        $('.navbar-brand').on('click', function (e) {
            e.preventDefault();
            var url = $(this).attr('href');
            var target = $(this).data('target');
            loadContent(url, target);
        });

        $('.linkfooter').on('click', function (e) {
            e.preventDefault();
            var url = $(this).attr('href');
            var target = $(this).data('target');
            loadContent(url, target);
            if ($('.navbar-brand').hasClass('active')) {
                $('.navbar-brand').removeClass('active');
            }
            if ($('.nav-link').hasClass('active')) {
                $('.nav-link').removeClass('active');
            }
        });

        $(document).ready(function () {
            $('.nav-link').click(function () {
                if ($('.navbar-brand').hasClass('active')) {
                    $('.navbar-brand').removeClass('active');
                }
                $('.nav-link').removeClass('active');
                $(this).closest('.nav-link').addClass('active');
            });
        });

        $(document).ready(function () {
            $('.navbar-brand').click(function () {
                if ($('.nav-link').hasClass('active')) {
                    $('.nav-link').removeClass('active');
                }
                $(this).closest('.navbar-brand').addClass('active');
            });
        });
    });

</script>


<style>
    .link-custom-color {
        color: rgb(161, 161, 161);
    }

    .footercustom {
        background-color: #7B3838;
        color: white;
        padding: 10px;
        text-align: center;
        position: fixed;
        bottom: 0;
        width: 100%;
    }

    .first-list {
        list-style: none; /* Remove bullet points */
        padding-left: 5px; /* Remove padding */
        margin: 0; /* Remove margin */
    }

    .second-list {
        list-style: none; /* Remove bullet points */
        padding: 0; /* Remove padding */
        margin: 0; /* Remove margin */
    }

    .circle {
        width: 35px;
        height: 35px;
        background-color: #be1e1e; /* Change the background color as desired */
        border-radius: 50%; /* Makes the div circular */
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgb(224, 224, 224); /* Text color */
    @* font-size: 24px; /* Font size for initials */ *@
    }

    .dropdown-menu {
        background-color: #7B3838;
    }

    .navbar-nav .dropdown .nav-link:hover {
        color: #000;
    }

    .navbar {
        background-color: #7B3838;
    }

    .nav-link.active {
        text-decoration: underline;
        color: #fff;
    }

    .navbar-nav .nav-item .nav-link:hover {
        color: #000000;
        background-color: #b87d7d;
        transition: all 0.3s ease-in;
    }

    .navbar-nav .nav-item .nav-link {
        color: rgb(224, 224, 224);
        transition: all 0.3s ease-out;
    }

    .navbar .navbar-brand {
        color: #fff;
        transition: all 0.3s ease-out;
    }

        .navbar .navbar-brand:hover {
            color: #000;
            transition: all 0.3s ease-in;
        }

    .transparent-container {
        background-color: rgba(0, 0, 0, 0); /* Background color (can be any color) */
        padding: 20px;
        /* opacity: 0.5; /* 50% transparency */
    }
</style>
