<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ReportingSystem</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    @*<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />*@
    <link rel="stylesheet" href="~/ReportingSystem.styles.css" asp-append-version="true" />
</head>

@{
    var path = Context.Request.Path;
}

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-custom border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand @(path == "/" ? "active": "")" asp-area="" asp-controller="EUAdministrator" asp-action="Index">Звітна система</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1 justify-content-end">
                        <li class="nav-item">
                            <a class="nav-link @(path == "/EUAdministrator" ? "active": "")" asp-area="" asp-controller="EUAdministrator" asp-action="Index">Сповіщення</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @(path == "/EUAdministrator/Customers" ? "active": "")" asp-area="" asp-controller="EUAdministrator" asp-action="Customers">Замовники</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @(path == "/EUAdministrator/Companies" ? "active": "")" asp-area="" asp-controller="EUAdministrator" asp-action="Companies">Компанії</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @(path == "/EUAdministrator/Projects" ? "active": "")" asp-area="" asp-controller="EUAdministrator" asp-action="Projects">Проекти</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @(path == "/EUAdministrator/Steps" ? "active": "")" asp-area="" asp-controller="EUAdministrator" asp-action="Steps">Етапи</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @(path == "/EUAdministrator/Categories" ? "active": "")" asp-area="" asp-controller="EUAdministrator" asp-action="Categories">Категорії</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @(path == "/EUAdministrator/Employees" ? "active": "")" asp-area="" asp-controller="EUAdministrator" asp-action="Employees">Співробітники</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @(path == "/EUAdministrator/Positions" ? "active": "")" asp-area="" asp-controller="EUAdministrator" asp-action="Positions">Посади</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @(path == "/EUAdministrator/Report" ? "active": "")" asp-area="" asp-controller="EUAdministrator" asp-action="Report">Звіт</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @(path == "/EUAdministrator/Info" ? "active": "")" asp-area="" asp-controller="EUAdministrator" asp-action="Info">Власні дані</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @(path == "/EUAdministrator/Authorize" ? "active": "")" asp-area="" asp-controller="Home" asp-action="Authorize">Вихід</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - ReportingSystem - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.8/dist/vue.js"></script>
    <script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

<style>
    .nav-link.active {
        text-decoration: underline;
    }
    .navbar-custom{
        background-color: #A856B8;
    }
    .navbar-nav li a {
        color: #fff;
        transition: all 0.3s ease-out;
    }
    .navbar-brand{
        color: #fff;
        transition: all 0.3s ease-out;
    }

    .navbar-brand:hover {
        color: #000;
        transition: all 0.3s ease-in;
    }
    .navbar-nav .nav-link:hover {
        color: #000;
        transition: all 0.3s ease-in;
    }
</style>