<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ReportingSystem</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    @*<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />*@
    <link rel="stylesheet" href="~/ReportingSystem.styles.css" asp-append-version="true" />
</head>

@{
    var path = Context.Request.Path;
}

@model string[];
<div>
    <p hidden id="idCu">@Model[0]</p>
    <p hidden id="idCo">@Model[1]</p>
    <p hidden id="idEm">@Model[2]</p>
    <p hidden id="rol">@Model[3]</p>
</div>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand @(path == "/" ? "active": "")" asp-area="" asp-controller="EUAdministrator" asp-action="Index">Звітна система</a>
               <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav flex-grow-1 justify-content-end">
                        <li class="nav-item">
                            <a class="nav-link @(path == "/EUAdministrator" ? "active": "")" asp-area="" asp-controller="EUAdministrator" asp-action="Index">Сповіщення</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @(path == "/EUAdministrator/Customers" ? "active": "")" asp-area="" asp-controller="EUAdministrator" asp-action="Customers">Замовники</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @(path == "/EUAdministrator/Companies" ? "active": "")" asp-area="" asp-controller="EUAdministrator" asp-action="Companies">Компанії</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @(path == "/EUAdministrator/Projects" ? "active": "")" asp-area="" asp-controller="EUAdministrator" asp-action="Projects">Проекти</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @(path == "/EUAdministrator/Steps" ? "active": "")" asp-area="" asp-controller="EUAdministrator" asp-action="Steps">Етапи</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @(path == "/EUAdministrator/Categories" ? "active": "")" asp-area="" asp-controller="EUAdministrator" asp-action="Categories">Категорії</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @(path == "/EUAdministrator/Employees" ? "active": "")" asp-area="" asp-controller="EUAdministrator" asp-action="Employees">Співробітники</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @(path == "/EUAdministrator/Positions" ? "active": "")" asp-area="" asp-controller="EUAdministrator" asp-action="Positions">Посади</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @(path == "/EUAdministrator/Rolls" ? "active": "")" asp-area="" asp-controller="EUAdministrator" asp-action="Rolls">Ролі</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @(path == "/EUAdministrator/Report" ? "active": "")" asp-area="" asp-controller="EUAdministrator" asp-action="Report">Звіт</a>
                        </li>
                        <div id="header_dropdown" >
                            <div v-if="windowWidth > 992">
                                <div class="circle border">
                                    <li class="nav-item dropdown">
                                        <a class="nav-link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            {{firstInitial}}{{secondInitial}}
                                        </a>
                                        <ul class="dropdown-menu dropdown-menu-lg-end" aria-labelledby="navbarDropdown">
                                            <li class="nav-item">
                                                <a class="nav-link @(path == "/EUAdministrator/Info" ? "active": "")" asp-area="" asp-controller="EUAdministrator" asp-action="Info">Власні дані</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link @(path == "/EUAdministrator/Authorize" ? "active": "")" asp-area="" asp-controller="Home" asp-action="Authorize">Вихід</a>
                                            </li>
                                        </ul>
                                    </li>
                                </div>
                            </div>
                            <div v-else>
                                <li class="nav-item">
                                    <a class="nav-link @(path == "/EUAdministrator/Info" ? "active": "")" asp-area="" asp-controller="EUAdministrator" asp-action="Info">Власні дані</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link @(path == "/EUAdministrator/Authorize" ? "active": "")" asp-area="" asp-controller="Home" asp-action="Authorize">Вихід</a>
                                </li>
                            </div>
                        </div>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - ReportingSystem - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.8/dist/vue.js"></script>
    <script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/Header.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

<style>
     .circle {
            width: 35px;
            height: 35px;
            background-color: #751496; /* Change the background color as desired */
            border-radius: 50%; /* Makes the div circular */
            display: flex;
            justify-content: center;
            align-items: center;
            color: rgb(224, 224, 224); /* Text color */
            @* font-size: 24px; /* Font size for initials */ *@
        }
    .dropdown-menu{
        background-color: #85389c;
    }
    .navbar-nav .dropdown .nav-link:hover{
        color: #000;
    }
    .navbar{
        background-color: #85389c;
    }
    .nav-link.active {
        text-decoration: underline;
    }
    .navbar-nav .nav-item .nav-link:hover {
        color: #000000;
        transition: all 0.3s ease-in;
    }
    .navbar-nav .nav-item .nav-link {
        color: rgb(224, 224, 224);
        transition: all 0.3s ease-out;
    }
    .navbar .navbar-brand{
        color: #fff;
        transition: all 0.3s ease-out;
    }
    .navbar .navbar-brand:hover {
        color: #000;
        transition: all 0.3s ease-in;
    }
</style>