<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ReportingSystem</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    @*<link rel="stylesheet" href="~/css/LayoutDeveloper.css" asp-append-version="true" />*@
    <link rel="stylesheet" href="~/ReportingSystem.styles.css" asp-append-version="true" />
</head>

@{
    var path = Context.Request.Path;
}

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand @(path == "/" ? "active": "")" asp-area="" asp-controller="EUDeveloper" asp-action="Index">Звітна система</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1 justify-content-end">
                        <li class="nav-item">
                            <a class="nav-link @(path == "/EUDeveloper" ? "active": "")" asp-area="" asp-controller="EUDeveloper" asp-action="Index">Сповіщення</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @(path == "/EUDeveloper/Customers" ? "active": "")" asp-area="" asp-controller="EUDeveloper" asp-action="Customers">Замовники</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @(path == "/EUDeveloper/Companies" ? "active": "")" asp-area="" asp-controller="EUDeveloper" asp-action="Companies">Компанії</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @(path == "/EUDeveloper/Projects" ? "active": "")" asp-area="" asp-controller="EUDeveloper" asp-action="Projects">Проекти</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @(path == "/EUDeveloper/Steps" ? "active": "")" asp-area="" asp-controller="EUDeveloper" asp-action="Steps">Етапи</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @(path == "/EUDeveloper/Categories" ? "active": "")" asp-area="" asp-controller="EUDeveloper" asp-action="Categories">Категорії</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @(path == "/EUDeveloper/Employees" ? "active": "")" asp-area="" asp-controller="EUDeveloper" asp-action="Employees">Співробітники</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @(path == "/EUDeveloper/Positions" ? "active": "")" asp-area="" asp-controller="EUDeveloper" asp-action="Positions">Посади</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @(path == "/EUDeveloper/Report" ? "active": "")" asp-area="" asp-controller="EUDeveloper" asp-action="Report">Звіт</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                FL
                            </a>
                            <ul class="dropdown-menu dropdown-menu-lg-end" aria-labelledby="navbarDropdown">
                                <li class="nav-item">
                                    <a class="nav-link @(path == "/EUDeveloper/Info" ? "active": "")" asp-area="" asp-controller="EUDeveloper" asp-action="Info">Власні дані</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link @(path == "/EUDeveloper/Exit" ? "active": "")" asp-area="" asp-controller="EUDeveloper" asp-action="Exit">Вихід</a>
                                </li>
                            </ul>
                        </li>
                        <div class="circle border">
                            <li class="nav-item dropdown">
                                <a class="nav-link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    FL
                                </a>
                                <ul class="dropdown-menu dropdown-menu-lg-end" aria-labelledby="navbarDropdown">
                                    <li class="nav-item">
                                        <a class="nav-link @(path == "/EUProjectManager/Info" ? "active": "")" asp-area="" asp-controller="EUProjectManager" asp-action="Info">Власні дані</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link @(path == "/EUProjectManager/Authorize" ? "active": "")" asp-area="" asp-controller="Home" asp-action="Authorize">Вихід</a>
                                    </li>
                                </ul>
                            </li>
                        </div>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

@*    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - ReportingSystem - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>*@

    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.8/dist/vue.js"></script>
    <script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

<style>
    .circle {
            width: 35px;
            height: 35px;
            background-color: #be1e1e; /* Change the background color as desired */
            border-radius: 50%; /* Makes the div circular */
            display: flex;
            justify-content: center;
            align-items: center;
            color: rgb(224, 224, 224); /* Text color */
            @* font-size: 24px; /* Font size for initials */ *@
        }
    .dropdown-menu{
        background-color: #7B3838;
    }
    .navbar-nav .dropdown .nav-link:hover{
        color: #000;
    }
    .navbar{
        background-color: #7B3838;
    }
    
    .nav-link.active {
        text-decoration: underline;
        color: #fff;
    }
    .navbar-nav .nav-item .nav-link:hover {
        color: #000000;
        transition: all 0.3s ease-in;
    }
    .navbar-nav .nav-item .nav-link {
        color: rgb(224, 224, 224);
        transition: all 0.3s ease-out;
    }
    .navbar .navbar-brand{
        color: #fff;
        transition: all 0.3s ease-out;
    }

    .navbar .navbar-brand:hover {
        color: #000;
        transition: all 0.3s ease-in;
    }
    @* .navbar-nav li a {
        color: #fff;
        transition: all 0.3s ease-out;
    }
    
    .navbar-nav .nav-link:hover {
        color: #fffed6c9;
        transition: all 0.3s ease-in;
    } *@
</style>