@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = @Localizer["Entry"];
}

<div class="text-center mt-5">
    <h2 class="display-4 textcolor">@Localizer["Authorize"]</h2>
</div>

<div class="container bg-transparent">

    <div id="Authorize" class="fontcustom">
        <div class="el1 bm-3 textcolor" v-if="mode == 0">
            <label class="label">@Localizer["WriteEmail"]</label>
        </div>
        <div class="el1 bm-3 textcolor" v-else>
            <label class="label">{{ status.name }}</label>
        </div>

        <form method="get" class="el1 bm-3" asp-action="CheckEmail" asp-controller="Home" v-on:submit.prevent="CheckEmail" v-if="mode == 0 || mode == 2" ref="emailForm">
        <div class="el1 bm-3 textcolor" v-if="mode == 0">
                <input class="input mt-2" v-model="email" ref="emailInput" placeholder="Email" />
                <div v-if="!isValidEmail" class="text-danger">@Localizer["Please enter a valid email address."]</div>
        </div>

            <div class="el1 bm-3 textcolor" v-if="mode == 2">
                <button type="button" class="button yes-button" v-on:click="CheckEmail()">@Localizer["Yes"]</button>
                <button type="button" class="button no-button" v-on:click="mode = 0">@Localizer["No"]</button>
            </div>
            <div class="row">
                <div class="el1 bm-3 col-6 textcolor mt-4" v-if="mode == 0">
                    <button type="submit" class="button hover-color rounded" v-on:click="CheckEmail()">@Localizer["CheckEmail"]</button>
                </div>
                <div class="col-6 mt-4" v-if="load1">
                    <div class="spinner-border text-light" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
            </div>
            
        </form>


        <form method="get" class="el1 bm-3" asp-action="CheckPassword" asp-controller="Home" v-if="mode == 1 || mode == 4" ref="passwordForm">
            <div class="el1 bm-3 " v-if="mode == 1 || mode == 4">
                <input class="input" type="password" name="password" v-model="password" ref="passwordInput" placeholder=@Localizer["Password"] />
            </div>
            <div class="row">
                <div class="el1 col-6 bm-3 textcolor mt-4" v-if="mode == 1 || mode == 4">
                    <button type="submit" class="button rounded">@Localizer["CheckPass"]</button>
                </div>
                <div class="col-6 mt-4" v-if="load2">
                    <div class="spinner-border text-light" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
             </div>
            
            <input type="hidden" name="email" v-model="email"/>
        </form>
    </div>
</div>



<script src="https://cdn.jsdelivr.net/npm/vue@2.7.8/dist/vue.js"></script>
<script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>
<link href="~/css/authorize.css" rel="stylesheet" />
<script src="~/js/Authorize.js" asp-append-version="true"></script>