@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = @Localizer["Entry"];
}

<div class="container bg-transparent">

    <div id="Authorize" class="fontcustom">
        <div class="el1 bm-3 textcolor" v-if="mode == 0">
            <label class="label">@Localizer["WriteEmail"]</label>
        </div>
        <div class="el1 bm-3 textcolor" v-else>
            <label class="label">{{ status.name }}</label>
        </div>

        <form method="get" class="el1 bm-3" asp-action="CheckEmail" asp-controller="Home" v-on:submit.prevent="CheckEmail" v-if="mode == 0 || mode == 2" ref="emailForm">
        <div class="el1 bm-3 textcolor" v-if="mode == 0">
            @* <label class="label">Email</label> *@
                <input class="input mt-2" v-model="email" ref="emailInput" placeholder="Email" />
        </div>

            <div class="el1 bm-3 textcolor" v-if="mode == 2">
                <button type="button" class="button yes-button" v-on:click="CheckEmail()">@Localizer["Yes"]</button>
                <button type="button" class="button no-button" v-on:click="mode = 0">@Localizer["No"]</button>
            </div>
            <div class="row">
                <div class="el1 bm-3 col-6 textcolor mt-4" v-if="mode == 0">
                    <button type="submit" class="button hover-color rounded" v-on:click="CheckEmail()">@Localizer["CheckEmail"]</button>
                </div>
                <div class="col-6 mt-4" v-if="load1">
                    <div class="spinner-border text-light" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
            </div>
            
        </form>


        <form method="get" class="el1 bm-3" asp-action="CheckPassword" asp-controller="Home" v-if="mode == 1 || mode == 4" ref="passwordForm">
            <div class="el1 bm-3 " v-if="mode == 1 || mode == 4">
                @* <label class="label textcolor">@Localizer["Password"]</label> *@
                <input class="input" type="password" name="password" v-model="password" ref="passwordInput" placeholder=@Localizer["Password"] />
            </div>
            <div class="row">
                <div class="el1 col-6 bm-3 textcolor mt-4" v-if="mode == 1 || mode == 4">
                    <button type="submit" class="button rounded">@Localizer["CheckPass"]</button>
                </div>
                <div class="col-6 mt-4" v-if="load2">
                    <div class="spinner-border text-light" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
             </div>
            
            <input type="hidden" name="email" v-model="email"/>
        </form>
    </div>
</div>



<script src="https://cdn.jsdelivr.net/npm/vue@2.7.8/dist/vue.js"></script>
<script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>

<style>
    .rounded {
        border-radius: 10px !important; /* Adjust the value as needed to achieve the desired roundness */
    }

    .container {
        width: 600px;
        /* margin: 0 auto;  */
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: 1px solid white;
        padding: 20px;
        border-radius: 20px;
       
    }

    #mask {
        display: flex;
        align-items: center;
        justify-content: center;
        transition: opacity 0.5s ease-in-out; /* Додаємо анімацію затемнення */
    }

        #mask.hidden {
            opacity: 0; /* Приховуємо маску затемнення */
            pointer-events: none; /* Вимикаємо події для маски */
        }


    .label {
        /* Стилі для лейблів */
        display: block;
        margin-bottom: 5px;
    }

    .input {
        /* Стилі для вводу */
        padding: 5px;
        width: 100%;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    .button {
        /* Стилі для кнопок */
        padding: 5px 10px;
        background-color: #007bff;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: all 0.3s ease-out;
    }

        .button:hover, .hover-color:hover {
            color: black;
            transition: all 0.3s ease-in;
            background-color: #3797ff;
        }

    .yes-button {
        /* Стилі для кнопки "Так" */
        background-color: #28a745;
        margin-right: 5px;
    }

    .no-button {
        /* Стилі для кнопки "Ні" */
        background-color: #dc3545;
    }

    .textcolor {
        color: white
    }

    .fontcustom {
        font-size: 24px;
    }
</style>

@*---------------------------------------------------------------------------------------------------------------------*@
<script src="~/js/Authorize.js" asp-append-version="true"></script>