@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = @Localizer["Contacts"];
}

@if (ViewBag.CookieValue == "uk-UA" || ViewBag.CookieValue == "uk")
{
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDWnOEl93IPhXojX1oyGXBY4nr_hoILjFA&callback=initMap&libraries=places&v=weekly&language=uk" async defer></script>
}
else
{
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDWnOEl93IPhXojX1oyGXBY4nr_hoILjFA&callback=initMap&libraries=places&v=weekly&language=en" async defer></script>
}


<div class="container-fluid justify-content-center align-items-center">
    <div class="mt-5" id="map" style="height: 450px;"></div>
    
</div>



<div class="container d-flex flex-column justify-content-center align-items-center">
    <span class="label font textcolor mt-3">@Localizer["Telephone"]</span>
    <span class="font textcolor">+380 (44) 206-55‑23</span>
    <span class="label font textcolor mt-3">@Localizer["Email"]</span>
    <span class="font textcolor">customercare@digitap.com.ua</span>
    <span class="label font textcolor mt-3">@Localizer["Address"]</span>
    <span class="font textcolor">@Localizer["ActualAdd"]</span>
</div>


@* <link rel="stylesheet" href="~/css/Contacts.css" asp-append-version="true" /> *@
@* <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDWnOEl93IPhXojX1oyGXBY4nr_hoILjFA&callback=initMap&libraries=places&v=weekly" async defer></script> *@
<script src="~/js/contacts.js"></script>


<link href="~/css/contacts.css" rel="stylesheet" />
<style>
    .label {
    font-weight: bold;
    color: #c3c3c3; /* Adjust color as needed */
    text-decoration: underline;
    }

    .row {
    }
</style> 