@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = @Localizer["Registration"];
}

<script src="https://cdn.jsdelivr.net/npm/vue@2.7.8/dist/vue.js"></script>
<script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>


<div mt-5 class="text-center">
    <h2 class="display-4 textcolor">@Localizer["Registration"]</h2>
</div>


<div id="Registration" class="container bg-transparent textcolor">
    <div class="panel panel-default" v-if="result == ''">
        <div class="panel-heading"></div>
        <div class="panel-body">
                
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label">@Localizer["Fill"] @Localizer["FirstName"]</label>
                            <input type="text" class="form-control" v-model="firstName" placeholder=@Localizer["FirstName"] />
                            <div v-if="firstName.length == 0 && mess" class="text-danger">@Localizer["Please fill in the field"]</div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label">@Localizer["Fill"] @Localizer["LastName"]</label>
                            <input type="text" class="form-control" v-model="secondName" placeholder=@Localizer["LastName"] />
                            <div v-if="secondName.length == 0 && mess" class="text-danger">@Localizer["Please fill in the field"]</div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label">@Localizer["Fill"] @Localizer["Surname"]</label>
                            <input type="text" class="form-control" v-model="thirdName" placeholder=@Localizer["Surname"] />
                            <div v-if="thirdName.length == 0 && mess" class="text-danger">@Localizer["Please fill in the field"]</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label">@Localizer["Fill"] Email</label>
                            <input type="email" class="form-control" ref="emailInput" v-model="email" placeholder="Email" />
                            <div v-if="!isValidEmail && email.length > 0 && mess" class="text-danger">@Localizer["Please enter a valid email address"]</div>
                            <div v-if="email.length == 0 && mess" class="text-danger">@Localizer["Email not be null"]</div>
                            <div v-if="!isUnique && email.length > 0 && mess" class="text-danger">@Localizer["Email is busy"]</div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label">@Localizer["Fill"] @Localizer["Phone"]</label>
                            <input type="text" class="form-control" ref="phoneInput" v-model="phone" placeholder=@Localizer["Phone"]>
                            <div v-if="!isValidPhone && phone.length > 0 && mess" class="text-danger">@Localizer["Please enter a valid phone number"]</div>
                            <div v-if="phone.length == 0 && mess" class="text-danger">@Localizer["Please fill in the field"]</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label">@Localizer["Fill"] @Localizer["Password"]</label>
                            <input type="password" class="form-control" v-model="password" placeholder=@Localizer["Password"] />
                            <div v-if="password.length == 0 && mess" class="text-danger">@Localizer["Please fill in the field"]</div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label">@Localizer["RePassword"]</label>
                            <input type="password" class="form-control" ref="repasswordInput" v-model="repassword" placeholder=@Localizer["RePassword"] />
                            <div v-if="!passwordEquals && repassword.length > 0 && mess" class="text-danger">@Localizer["Passwords do not match"]</div>
                            <div v-if="password.length == 0 && repassword.length == 0 && mess" class="text-danger">@Localizer["Passwords not be null"]</div>
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" v-model="confirmEnter" id="flexCheckChecked" checked>
                            <label class="form-check-label" for="flexCheckChecked">
                                @Localizer["Enter in system after registration"]
                            </label>
                        </div>
                    </div>
                </div>
            <div v-if="confirmEnter">
                <form method="get" class="el1 bm-3" asp-action="CheckPassword" asp-controller="Home" v-if="confirmEnter" ref="myForm">
                    <div class="row">
                        <div class="col-md-12">
                            <button type="button" class="button mt-4" v-on:click="createCustomer()">@Localizer["Register"]</button>
                            <button type="submit" class="button mt-4" v-show="false" ref="hiddenButton">@Localizer["Register"]</button>
                        </div>
                    </div>
                    <input type="hidden" name="email" v-model="email" />
                    <input type="hidden" name="password" v-model="password" />
                </form>
            </div>
            <div v-else>
                <div class="col-md-12 custom-align">
                    <button type="button" class="button mt-4 rounded hover-color" v-on:click="createCustomer()">@Localizer["Register"]</button>
                </div>
            </div>
        </div>
    </div>
    <h1 class="display-4 textcolor">{{result}}</h1>
</div>


 

<style>
    .container {
        width: 1000px;
        /* margin: 0 auto;  */
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: 1px solid white;
        padding: 20px;
        border-radius: 20px;
    }

    .rounded {
        border-radius: 10px !important; /* Adjust the value as needed to achieve the desired roundness */
    }

    .button {
        /* Стилі для кнопок */
        padding: 5px 10px;
        background-color: #007bff;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: all 0.3s ease-out;
    }

        .button:hover, .hover-color:hover {
            color: black;
            transition: all 0.3s ease-in;
            background-color: #3797ff;
        }


    .custom-align {
        display: flex;
        flex-direction: column;
        justify-content: center; /* Center horizontally */
        align-items: center; /* Center vertically */
    }

    .textcolor {
        color: white
    }

    .fontcustom {
        font-size: 24px;
    }
</style>
<script src="~/js/Registration.js" asp-append-version="true"></script>
<script src="~/js/Registration.js" asp-append-version="true"></script>