@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = @Localizer["Registration"];
    // Layout = "_LayoutAuthorize";
}

<script src="https://cdn.jsdelivr.net/npm/vue@2.7.8/dist/vue.js"></script>
<script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>


<div class="text-center mt-5">
    <h2 class="display-4 textcolor">@Localizer["Registration"]</h2>
</div>

<div id="Registration" class="container bg-transparent textcolor">
    <div class="panel panel-default" v-if="result == ''">
        <div class="panel-heading"></div>
        <div class="panel-body">
            <form class="fontcustom">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label">@Localizer["FirstName"]</label>
                            <input type="text" class="form-control" v-model="firstName" />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label">@Localizer["LastName"]</label>
                            <input type="text" class="form-control" v-model="secondName" />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label">@Localizer["Surname"]</label>
                            <input type="text" class="form-control" v-model="thirdName" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label">Email</label>
                            <input type="email" class="form-control" v-model="email" />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label">@Localizer["Phone"]</label>
                            <input type="text" class="form-control" v-model="phone" />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label">@Localizer["Password"]</label>
                            <input type="password" class="form-control" v-model="password" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 custom-align">
                        <button type="button" class="button mt-4 rounded hover-color" v-on:click="createCustomer()">@Localizer["Register"]</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <h1 class="display-4 textcolor">{{result}}</h1>
</div>


 

<style>
    .container {
        width: 1000px;
        /* margin: 0 auto;  */
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: 1px solid white;
        padding: 20px;
        border-radius: 20px;

    }

    .rounded {
        border-radius: 10px !important; /* Adjust the value as needed to achieve the desired roundness */
    }
    .button {
        /* Стилі для кнопок */
        padding: 5px 10px;
        background-color: #007bff;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: all 0.3s ease-out;
    }

        .button:hover, .hover-color:hover {
            color: black;
            transition: all 0.3s ease-in;
            background-color: #3797ff;
        }


    .custom-align{
        display: flex;
        flex-direction: column;
        justify-content: center; /* Center horizontally */
        align-items: center; /* Center vertically */
    }
    .textcolor {
        color: white

    }
    .fontcustom{
        font-size: 24px;
    }
</style>
<script src="~/js/Registration.js" asp-append-version="true"></script>