@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = @Localizer["Registration"];
    // Layout = "_LayoutAuthorize";
}

<script src="https://cdn.jsdelivr.net/npm/vue@2.7.8/dist/vue.js"></script>
<script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>

<div mt-1 class="text-center">
    <h2 class="display-4 textcolor">@Localizer["Registration"]</h2>
</div>

<div id="Registration" class="container bg-transparent textcolor">
    <div class="panel panel-default" v-if="result == ''">
        <div class="panel-heading "></div>
        <div class="panel-body">
            <form class="fontcustom">
                <div class="row align-items-center">
                    <div class="col-sm-6 ">
                       
                        <div class="form-group">
                            <label class="control-label">@Localizer["FirstName"]</label>
                            <input type="text" class="form-control" v-model="firstName" />
                        </div>
                        <div class="form-group">
                            <label class="control-label mt-3 ">@Localizer["LastName"]</label>
                            <input type="text" class="form-control" v-model="secondName" />
                        </div>
                        <div class="form-group">
                            <label class="control-label mt-3 ">@Localizer["Surname"]</label>
                            <input type="text" class="form-control" v-model="thirdName" />
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label mt-3 ">Email</label>
                                <input type="email" class="form-control" v-model="email" />
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label mt-3 ">@Localizer["Phone"]</label>
                                <input type="text" class="form-control" v-model="phone" />
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label mt-3">@Localizer["Password"]</label>
                                <input type="password" class="form-control" v-model="password" />
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <button type="button" class="button mt-4" v-on:click="createCustomer()">@Localizer["Register"]</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <h1 class="display-4 textcolor">{{result}}</h1>

</div>
 

<style>
    
    .button {
        /* Стилі для кнопок */
        padding: 5px 10px;
        background-color: #007bff;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    .textcolor {
        color: white

    }
    .fontcustom{
        font-size: 24px;
    }
</style>
<script src="~/js/Registration.js" asp-append-version="true"></script>