@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = @Localizer["Registration"];
    // Layout = "_LayoutAuthorize";
}

<script src="https://cdn.jsdelivr.net/npm/vue@2.7.8/dist/vue.js"></script>
<script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>

<div mt-1 class="text-center">
    <h2 class="display-4 textcolor">@Localizer["Registration"]</h2>
</div>

<div id="Registration" class="container bg-transparent textcolor">
    <div class="panel panel-default" v-if="result == ''">
        <div class="panel-heading"></div>
        <div class="panel-body">
            <form class="fontcustom">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label">@Localizer["FirstName"]</label>
                            <input type="text" class="form-control" v-model="firstName" />
                            <div v-if="firstName.length == 0" class="text-danger">@Localizer["Please fill in the field"]</div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label">@Localizer["LastName"]</label>
                            <input type="text" class="form-control" v-model="secondName" />
                            <div v-if="secondName.length == 0" class="text-danger">@Localizer["Please fill in the field"]</div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label">@Localizer["Surname"]</label>
                            <input type="text" class="form-control" v-model="thirdName" />
                            <div v-if="thirdName.length == 0" class="text-danger">@Localizer["Please fill in the field"]</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label">Email</label>
                            <input type="email" class="form-control" ref="emailInput" v-model="email" />
                            <div v-if="!isValidEmail && email.length > 0" class="text-danger">@Localizer["Please enter a valid email address"]</div>
                            <div v-if="email.length == 0" class="text-danger">@Localizer["Email not be null"]</div>
                            <div v-if="!isUnique && email.length > 0" class="text-danger">@Localizer["Email is busy"]</div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label">@Localizer["Phone"]</label>
                            <input type="text" class="form-control" ref="phoneInput" v-model="phone" />
                            <div v-if="!isValidPhone && phone.length > 0" class="text-danger">@Localizer["Please enter a valid phone number"]</div>
                            <div v-if="phone.length == 0" class="text-danger">@Localizer["Please fill in the field"]</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label">@Localizer["Password"]</label>
                            <input type="password" class="form-control" v-model="password" />
                            <div v-if="password.length == 0" class="text-danger">@Localizer["Please fill in the field"]</div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label">@Localizer["RePassword"]</label>
                            <input type="password" class="form-control" ref="repasswordInput" v-model="repassword" />
                            <div v-if="!passwordEquals && repassword.length > 0" class="text-danger">@Localizer["Passwords do not match"]</div>
                            <div v-if="password.length == 0 && repassword.length == 0" class="text-danger">@Localizer["Passwords not be null"]</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <button type="button" class="button mt-4" v-on:click="createCustomer()">@Localizer["Register"]</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <h1 class="display-4 textcolor">{{result}}</h1>
</div>

 

<style>
    
    .button {
        /* Стилі для кнопок */
        padding: 5px 10px;
        background-color: #007bff;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    .textcolor {
        color: white

    }
    .fontcustom{
        font-size: 24px;
    }
</style>
<script src="~/js/Registration.js" asp-append-version="true"></script>